.color
{
	background-color: silver;
}
.div1
{
	margin-left: 157px;


padding-bottom: 41px;
}
.div2
{
	margin-left: 137px;

    

    padding-bottom: 1px;
}
.div3
{
	margin-left: 161px;



padding-bottom: 41px;
}
.center
{
	text-align: center;
}
.btn
{
background-color: green;
}